* {
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

body { font-family: Arial, sans-serif; background: #f4f4f4; }

/* ===== CABEÇALHO ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #caf0f8;
}
header img {
     height: 50px; 
    }
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}
.perfil-icon {
    width: 40px;
    height: 40px;
}

/* ===== SEÇÃO PRINCIPAL ===== */
.hero {
    width: 100%;
    height: 300px;
    background: url('img/Banner.jpg') center/cover;
    padding: 50px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/* ===== SOBRE ===== */
.sobre {
    padding: 40px;
    background: white;
}
.sobre p {
    margin-top: 10px;
    line-height: 1.6;
}

/* ===== PROJETO ===== */
.projeto {
    padding: 40px;
}
.projeto h2 {
    color: #1a237e;
    margin-bottom: 20px;
}
.vetvita-logo {
    width: 220px;
    display: block;
    margin: 0 auto 20px auto;
}
.descricao {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}

/* ===== DOWNLOAD ===== */
.download-section {
    margin-top: 30px;
    text-align: center;
}
.download-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #007bff;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 20px;
}

/* ===== IMAGENS ===== */
.imagens {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
.imagens img {
    width: 200px;
    border-radius: 8px;
}
